{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}
	<div class="text-center">
		<h1>Evaluacion</h1>
		<form method="GET" action="{% url 'evaluacion:crearWorkSpace' %}">
			<button type="submit" class="btn btn-danger">Crear espacio</button>
		</form>
		<form method="GET" action="{% url 'evaluacion:consultaWorkSpace' %}">
			<button class="btn btn-success">Ver espacios</button>
		</form>
		<form method="POST" action="{% url 'evaluacion:buscarId' %}">
			{% csrf_token %}
			<h5>Consultar por id:</h5>
			<input name="identificador" placeholder="Id">
			<button class="btn btn-primary" type="submit">Buscar</button>
		</form>
		{% if mensaje %}
		<div id="alerta" class="alert alert-warning alert-dismissible fade in" role="alert">
			<button class="close" data-dismiss="alert" aria-label="Close">x</button>
			{{ mensaje }}
		</div>
		{% endif %}
	</div>
{% endblock %}
	